body {
    background-color: #f1eace;
    cursor: progress;

}

.header{
	padding-top: 3em;
	padding-left: 10em;
}
.main{
	padding-top: 6em;
	padding-left: 4em;

}
.text1{
	padding-top: 10em;
	padding-left: 3em;
}
.text2{
	padding-top: 10em;
	padding-right: 3em;
}